* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: lightgrey;
  width: 300px;
  height: 450px;
  border-radius: 8px;
  border: solid 1px grey;
  box-shadow: 10px 10px 10px gray;
}

.history {
  margin-top: 2px;
  width: 98%;
  display: inline-block;
  text-align: right;
  color: gray
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 15%;
  font-size: 3rem;
  margin-top: 2px;
  border-radius: 5px;
}

.btn {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
  height: 12%;
  border-radius: 5px;
}

.btn:hover {
  background-color: darkgray;
}

.equals {
  background-color: lightgreen;
}

.equals:hover {
  background-color: green;
}